<div *ngFor="let item of exibirProduto" class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Detalhes do pedido:</h6>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Número Pedido:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item._id }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Status do Pedido:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.status }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">E-mail cliente:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.email_cliente }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Complemento:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.complemento }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Endereco:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.endereco }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">FormaPagamento:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.formaPagamento }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Número da casa:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.numero }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Valor</strong>
                <span style="margin-left: 10px; font-size: 16px;"
                    class="d-block">{{ item.valor | currency: 'BRL' }}</span>
            </div>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex align-items-center w-100">
                <strong style="font-size: 18px;" class="text-gray-dark">Número de itens:</strong>
                <span style="margin-left: 10px; font-size: 16px;" class="d-block">{{ item.itens.length }}</span>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <form [formGroup]="formularioModal" (ngSubmit)="atualizarProduto()" class="needs-validation" novalidate>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Atualizar pedido</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div style="margin-bottom: 1rem!important;" class="md-form mb-5">
                            <i class="fas fa-user prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Status</label>
                            <!-- <input formControlName="status" type="text" id="orangeForm-name"
                                class="form-control validate"> -->
                            <select formControlName="status" class="custom-select d-block w-100" id="country" required>
                                <!-- <option value="">True ou false</option> -->
                                <option>Aberto</option>
                                <option>Em andamento</option>
                                <option>Entregue</option>
                            </select>
                        </div>
                        <div style="margin-bottom: 1rem!important;" class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Forma
                                Pagamento</label>
                            <select formControlName="formaPagamento" class="custom-select d-block w-100" id="country"
                                required>
                                <option>Dinheiro</option>
                                <option>Débito</option>
                            </select>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Endereço</label>
                            <input formControlName="endereco" id="orangeForm-pass" class="form-control validate">
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <!-- <button class="btn btn-deep-orange">Enviar</button> -->
                        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="userAdmin" style="margin-bottom: 25px;" class="text-center">
        <button data-toggle="modal" data-target="#modalRegisterForm" type="button" class="btn btn-primary btn-lg"
            (click)="atualizarProduto(item._id)">Atualizar pedido</button>
    </div>
    <!-- MODAL CLOSED -->
</div>