<div class="container">
  <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">
    <form [formGroup]="formulario" (ngSubmit)="confirmarCompra()" novalidate>

      <h5>Sua Compra</h5>
      <hr />

      <div class="form-row" *ngFor="let item of itensCarrinho"
        style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img [src]="item.img.url" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          {{ item.titulo }}
          <br />
          {{ item.descricao_oferta }}
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button (click)="diminuir(item)" type="button" class="btn btn-link">-</button>
              {{ item.quantidade }}
              <button (click)="adicionar(item)" type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          {{ item.quantidade * item.valor | currency: 'BRL': true }}
        </div>
      </div>

      <div class="form-row">
        <div *ngIf="carrinhoService.exibirItens().length > 0; else carrinhoVazio"
          class="form-group col d-flex justify-content-end">
          <!-- Ao invés criar um atributo para controlar esse total
          Posso ir no template do componente, aqui no total
        E executar o método do nosso serviço
      
      Pois quando o serviço é injetado naquele componente
      Seja por uma injeção direta naquele componente, ou injeção
      módulo que o serviço e o componente faz parte, o template
      do componente, também tem acesso aos métodos do serviço -->
          <h4>Total do pedido: {{ carrinhoService.totalCarrinhoCompras() | currency: 'BRL' }}</h4>
        </div>
        <ng-template #carrinhoVazio>
          <div class="form-group col d-flex justify-content-center alert alert-danger">
            Seu carrinho ainda está vázio! Não perca tempo, aproveite as ofertas. <a routerLink="/oferta"
              class="alert-link" style="margin-left: 10px;"> Clique
              aqui</a>
          </div>
        </ng-template>
      </div>

      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control" placeholder="Endereço" autocomplete="off" formControlName="endereco">
          <!-- Estou testando se no atributo do formulario o endereço está válido 
          e se no endereço aqui já foi tocado, e sim é sucesso. Ok -->
          <small *ngIf="formulario.get('endereco').valid && formulario.get('endereco').touched"
            class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('endereco').valid && formulario.get('endereco').touched"
            class="form-text text-danger">Endereco Inválido</small>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control" placeholder="Número" autocomplete="off" formControlName="numero">
          <small *ngIf="formulario.get('numero').valid && formulario.get('numero').touched"
            class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('numero').valid && formulario.get('numero').touched"
            class="form-text text-danger">Número inválido</small>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Complemento" autocomplete="off"
            formControlName="complemento">
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-3">
          <select class="form-control" formControlName="formaPagamento">
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small *ngIf="formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched"
            class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched"
            class="form-text text-danger">Forma de Pagamento inválida</small>
        </div>
      </div>

      <hr />
      <button type="submit" class="btn btn-primary btn-lg">Confirmar compra</button>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
    <!-- O ordem compra sucesso espera um parãmetro que é enviado pelo componente pai
    Ou seja preciso fazer um input de idPedidoCompra, para que ordemCompraSucesso saiba como exibir
  a informação dentro da nossa aplicação -->
    <app-ordem-compra-sucesso [idPedidoCompra]="idPedidoCompra"></app-ordem-compra-sucesso>
  </div>
</div>