<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img (click)="openHome()" src="../../assets/icones_uteis/sair.svg" width="30" height="30" class="d-inline-block align-top" alt="Sair">
    Passaro Urbano
  </a>
</nav>
<app-register-user (respostaFamilia)="openLogin($event)" *ngIf="openRegister"></app-register-user>
<div class="login" *ngIf="!openRegister">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Login</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <form class="form-signin" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" type="email" id="inputEmail" class="form-control"
                placeholder="Email address" formControlName="email" required autofocus>

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" type="password" id="inputPassword" class="form-control"
                placeholder="Password" matInput formControlName="password" required>
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox">Remember Me
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="text-center btn btn-lg btn-primary btn-block" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Ainda não tem conta?<button (click)="abrirCadastro()">Criar usuário</button>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>