<div *ngIf="!loading" class="loading">Loading&#8230;</div>
<div *ngIf="loading" class="container marketing">
    <div class="row" style="margin-top: 10px;">
        <div style="text-align: center;" class="col-lg-12">
            <img class="rounded-circle" src="https://nulm.gov.in/images/user.png" alt="Generic placeholder image"
                width="140" height="140">
            <h3>Nome: {{ userName }}</h3>
            <p *ngIf="userAdmin">Tipo de conta: Admin</p>
            <p *ngIf="!userAdmin">Tipo de conta: Usuário</p>
            <p><a *ngIf="userAdmin" (click)="addProduto($event)" class="btn btn-secondary" role="button">Adicionar
                    produto &raquo;</a></p>
        </div>
    </div>
    <ul style="margin-bottom: 35px;" class="list-group">
        <li class="list-group-item active">Carrinho de compras</li>
        <div *ngFor="let item of carrinhoClient" [routerLink]="['/data-product', item._id]">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ item._id }}</h5>
                    <small>{{ item.status }}</small>
                </div>
                <p class="mb-1">Endereço: {{ item.endereco }} Numero: {{ item.numero }}</p>
                <small>Forma de pagamento: {{ item.formaPagamento }} </small>
            </div>
            <br>
        </div>
        <div *ngFor="let item of produtosAdmin" [routerLink]="['/data-product', item._id]">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ item._id }}</h5>
                    <small>{{ item.status }}</small>
                </div>
                <p class="mb-1">Endereço: {{ item.endereco }} Numero: {{ item.numero }}</p>
                <small>Forma de pagamento: {{ item.formaPagamento }} </small>
            </div>
            <br>
        </div>

    </ul>
</div>