<div class="container">
  <div class="row">
      <span *ngIf="snackBar" class="snackbar-content">
          "Foi adicionando um item ao carrinho!"
      </span>
  </div>
  <!-- Quando estamos trabalhando com processamento assincrono
  É importante ter em mente que os dados não vem instântaneos
  Então utilizo o ngIf para os dados só vim quando forem diferentes de
  undefined, pois como o oferta é um atributo da classe
  Antes de chamar o metodo que atribui o valor a ele, ele 
  vem como undefined, e só depois que é executado o metodo
  assincrono, é que ele ganha valor, e por isso coloquei esse if -->
  <div class="oferta" *ngIf="oferta !== undefined">

    <!-- Vou criar 3 links para forçar o redirecionamento da Rota
    De modo que a página não seja atualizada
    Criando um routerLink passando a rota Oferta e o parâmetro
    E quando acessarmos a qualquer oferta que tenha esse parâmetro
    Que é o 1 , 3 e 6, ele vai ter os links de redirecionamento
    Para outras ofertas.  -->
    <!-- <div class="row">
      <div class="col">
        <a [routerLink]="['/oferta', 1]">Oferta 1</a>
        <a [routerLink]="['/oferta', 3]">Oferta 3</a>
        <a [routerLink]="['/oferta', 6]">Oferta 6</a>
      </div>
    </div> -->

    <div class="row">
      <div class="col">
        <h4>{{ oferta.descricao_oferta }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens['0'].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{ oferta.valor | currency:'BRL' }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button (click)="adicionarItemCarrinho()" type="button" class="btn btn-warning btn-lg"  data-toggle="snackbar" data-content="Foi adicionado um item ao carrinho" data-html-allowed="true" data-timeout="0">Adicionar ao
              carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="row" style="margin-top: 25px; margin-bottom: 150px;">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" routerLink="como-usar" data-toggle="tab" role="tab" aria-expanded="true">Como
            usar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="onde-fica" data-toggle="tab" role="tab">Onde fica?</a>
        </li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
