h1 {
  color: #555
}

.oferta {
  margin-top: 25px
}

.oferta img {
  width: 372px;
  height: 240px;
}

.thumbnails {
  margin-top: 10px;
}

.thumbnails img {
  width: 124px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.snackbar-content {
  display: flex;
  margin: 0 auto;
  position: relative;
  padding: .8rem 1.5rem;
  margin-bottom: 45px;
  font-size: .9rem;
  color: #fff;
  background-color: #323232;
  border-radius: 2px;
}