<app-topo [recebeFamilia]="respostaDataUser" (respostaFamilia)="reciverFeedback($event)"
  *ngIf="exibirLoginText !== true"></app-topo>
<router-outlet *ngIf="exibirLoginText !== true"></router-outlet>
<app-rodape *ngIf="exibirLoginText !== true"></app-rodape>
<app-login *ngIf="exibirLoginText" (customer)="openLayout($event)"></app-login>