<div style="margin-bottom: 55px;" class="container">
  <div style="padding-bottom: 0px !important;" class="py-5 text-center">
    <h2>Área Administrativa</h2>
    <p class="lead">Antes de cadastrar algum produto, verifique se o mesmo já existe. Tenha atenção!</p>
  </div>

  <!-- LISTA DE TODOS OS PRODUTOS -->
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Produtos cadastrados</span>
        <span class="badge badge-secondary badge-pill">{{productClient?.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li *ngFor="let item of productClient" class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ item.titulo }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Status: {{ item.status }} </h6>
              <p class="card-text">{{  item.descricao_oferta }}</p>
              <p class="card-text" style="font-weight: bold;">Categoria: {{ item.categoria  }}</p>
              <a href="#" class="card-link">{{ (item._id.length>13)? (item._id | slice:0:13)+'..':(item._id)}}</a>
              <button data-toggle="modal" data-target="#modalRegisterForm" type="button" class="btn btn-primary btn-lg"
      (click)="recebendoOferta(item)">Atualizar pedido</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- LISTA DE CADASTRO -->
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Cadastro de Produto</h4>
      <form [formGroup]="formulario" (ngSubmit)="cadastrarProduto()" class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Categoria</label>
            <input formControlName="categoria" type="text" class="form-control" id="firstName" placeholder="" value=""
              required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Titulo</label>
            <input formControlName="titulo" type="text" class="form-control" id="lastName" placeholder="" value=""
              required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Descrição da oferta</label>
          <div class="input-group">
            <input formControlName="descricao_oferta" type="text" class="form-control" id="username"
              placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Anunciante<span class="text-muted">(Optional)</span></label>
          <input type="text" formControlName="anunciante" class="form-control" id="email" placeholder="Anunciante">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Caminho da imagem1</label>
          <input formControlName="imagem1" type="text" class="form-control" id="address"
            placeholder="Caminho da imagem 01" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Caminho da imagem2</label>
          <input formControlName="imagem2" type="text" class="form-control" id="address"
            placeholder="Caminho da imagem 02" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Caminho da imagem3</label>
          <input formControlName="imagem3" type="text" class="form-control" id="address"
            placeholder="Caminho da imagem 03" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Destaque</label>
            <select formControlName="destaque" class="custom-select d-block w-100" id="country" required>
              <!-- <option value="">True ou false</option> -->
              <option>true</option>
              <option>false</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="zip">Valor do produto</label>
            <input formControlName="valor" type="text" class="form-control" id="zip" placeholder="Valor" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar Produto</button>
      </form>
    </div>
  </div>


  <!-- MODAL -->
  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <form [formGroup]="formularioUpdate" (ngSubmit)="atualizarOferta()" class="needs-validation" novalidate>
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Atualizar Oferta</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body mx-3">
                  <div style="margin-bottom: 1rem!important;" class="md-form mb-5">
                      <i class="fas fa-user prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-name">Status</label>
                      <!-- <input formControlName="status" type="text" id="orangeForm-name"
                          class="form-control validate"> -->
                      <select formControlName="categoria" class="custom-select d-block w-100" id="country" required>
                          <!-- <option value="">True ou false</option> -->
                          <option>mercearia</option>
                          <option>higiene</option>
                          <option>bebidas</option>
                      </select>
                  </div>
                  <div class="md-form mb-4">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-pass">Titulo</label>
                      <input [value]="nomeTitulo" formControlName="titulo" id="orangeForm-pass" class="form-control validate">
                  </div>
                  <div class="md-form mb-4">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-pass">Descrição da oferta</label>
                      <input [value]="nomeDescricao" formControlName="descricao_oferta" id="orangeForm-pass" class="form-control validate">
                  </div>
                  <div style="margin-bottom: 1rem!important;" class="md-form mb-5">
                      <i class="fas fa-user prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-name">Status</label>
                      <!-- <input formControlName="status" type="text" id="orangeForm-name"
                          class="form-control validate"> -->
                      <select formControlName="status" class="custom-select d-block w-100" id="country" required>
                          <!-- <option value="">True ou false</option> -->
                          <option>Ativo</option>
                          <option>Desativado</option>
                      </select>
                  </div>
                  <div class="md-form mb-4">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-pass">Valor da oferta</label>
                      <input [value]="nomeValor" formControlName="valor" id="orangeForm-pass" class="form-control validate">
                  </div>
                  <div style="margin-bottom: 1rem!important;" class="md-form mb-5">
                      <i class="fas fa-user prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-name">Destaque?</label>
                      <!-- <input formControlName="status" type="text" id="orangeForm-name"
                          class="form-control validate"> -->
                      <select formControlName="destaque" class="custom-select d-block w-100" id="country" required>
                          <!-- <option value="">True ou false</option> -->
                          <option>true</option>
                          <option>false</option>
                      </select>
                  </div>
                  <div class="md-form mb-4">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-pass">Caminho da imagem1</label>
                      <input formControlName="imagem1" id="orangeForm-pass" class="form-control validate">
                  </div>
                  <div class="md-form mb-4">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-pass">Caminho da imagem2</label>
                      <input formControlName="imagem2" id="orangeForm-pass" class="form-control validate">
                  </div>
                  <div class="md-form mb-4">
                      <i class="fas fa-lock prefix grey-text"></i>
                      <label data-error="wrong" data-success="right" for="orangeForm-pass">Caminho da imagem3</label>
                      <input formControlName="imagem3" id="orangeForm-pass" class="form-control validate">
                  </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                  <!-- <button class="btn btn-deep-orange">Enviar</button> -->
                  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
              </div>
          </div>
      </div>
  </form>
</div>
<!-- MODAL CLOSED -->