<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col d-flex justify-content-center">
      <h3>Compra realizada com sucesso!</h3>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col d-flex justify-content-center">
      <p>O número do seu pedido é: <b> {{ idPedidoCompra }} </b></p>

    </div>
  </div>

</div>