<div *ngIf="!loading" class="loading">Loading&#8230;</div>
<div *ngIf="loading" class="container">
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <div style="margin-bottom: 10px;" class="card">
        <!-- Property Binding atribuindo as imagens -->
        <img class="card-img-top" style="width: 90%; margin: 0 auto;" [src]="oferta.imagens[0].url">
        <div class="card-block">
          <h4 class="card-title">{{ oferta.titulo }}</h4>

          <p class="card-text">
            {{ (oferta.descricao_oferta.length>45)? (oferta.descricao_oferta | slice:0:45)+'..':(oferta.descricao_oferta) }}
          </p>
          <p class="preco">{{ oferta.valor | currency:'BRL' }}</p>
          <!-- Não vou simplesmente acessar a rota oferta -->
          <!-- Preciso passar um parâmetro, boto o property Binding no routerLink -->
          <!-- Para passar um array, que contem a rota e o parâmetro -->
          <a [routerLink]="['/oferta', oferta._id]" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div>
    <hr />

  </div>