<div class="fixed-top" *ngIf="exibirLogin">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="col-md-4">
        <a class="navbar-brand" routerLink="">
          <img src="../assets/logo.png" />
        </a>
      </div>
      <div class="col-md-6">
        <!-- No template estava Object Object  
        Vou utilizar o pipe json para converter
        {{ ofertas2 | json }}
        Uppercase é para deixar o texto em caixa alta
        Lowercase é para deixar o texto em caixa baixa
        Campo de pesquisa
        Variavel de referência do template -->
        <input type="text" class="form-control" placeholder="Pesquise por ofertas.." #tempoDaPesquisa
          (keyup)="pesquisa(tempoDaPesquisa.value)" />
        <!-- Com o z-index eu digo que essa ul vai estar em uma camada superior
          Pois não conseguia clicar nas ofertas -->
        <ul class="list-group" style="position: absolute; z-index: 999;">
          <li *ngFor="let oferta of ofertas | async" class="list-group-item">
            <!-- A partir do router link vou acessar o /oferta/Id -->
            <a [routerLink]="['/oferta', oferta._id]" (click)="limpaPesquisa()">
              {{ oferta.titulo | descricaoReduzida:14:0 }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <a routerLink="/ordem-compra"><img src="../assets/carrinho.png" /></a>
      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurantes">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/ordem-compra">Carrinho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [hidden]="botaoLogin" routerLinkActive="active" routerLink="/conta">Conta</a>
        </li>
        <li style="display: contents;" class="nav-item">
          <button style="margin-left: auto;" type="button" class="btn btn-secondary" *ngIf="botaoLogin"
            (click)="abrirLogin()">Login</button>
          <button style="margin-left: auto;" type="button" class="btn btn-secondary" *ngIf="!botaoLogin"
            (click)="fazerLogout()">Logout</button>
          <!-- <app-root *ngIf="exibirLogin" [exibirLogin]="exibirLogin"></app-root> -->
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="../assets/banners/img_1.jpg" />
</div>