<div class="container">

  <div class="secao">
    <h3 class="text-center">Frutas, Bebidas, Carnes Especiais, Feijoada e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas:</h5>
    <div class="btn-group" style="display: flow-root; text-align: center;" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="open($event)" value="hortifruti">HortiFruti</button>
      <button type="button" class="btn btn-secondary" (click)="open($event)" value="higiene">Higiene</button>
      <button type="button" class="btn btn-secondary" (click)="open($event)" value="mercearia">Alimentos</button>
      <button type="button" class="btn btn-secondary" (click)="open($event)" value="bebidas">Bebidas</button>
    </div>
  </div>

  <hr />
  <div *ngFor="let oferta of ofertas">
    <div class="row">
      <div class="col-md-4">
        <img [src]="oferta.imagens[0].url" class="img-fluid" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{ oferta.titulo }}</h4>
        </div>

        <div class="row">
          <h5>{{ oferta.descricao_oferta }}</h5>
        </div>

        <div class="row">
          <p>Anunciado por: <b>{{ oferta.anunciante }}</b></p>
        </div>

        <div class="row">
          <p>{{ oferta.valor | currency:'BRL' }}</p>
        </div>

        <div class="row">
          <button [routerLink]="['/oferta', oferta._id]" class="btn btn-outline-success">Ver oferta</button>
        </div>
      </div>
    </div>

    <hr />
  </div>